# Add any directories, files, or patterns you don't want to be tracked by version control
/nbproject/
/uploads/
/nbproject/private/
/uploads/order_item_photo
/application/logs

/application/config/config.php
/application/config/database.php
.htaccess

